<div class="m-header">
  <img [src]="logo" class="icon" alt="logo" />
  <div class="flex-row justify-center align-center">
    <div class="text">QQ音乐</div>
    <div
      class="mine"
    >
      <i class="icon-mine"></i>
    </div>
  </div>
</div>
<div class="tab">
  <a routerLink="/home" class="tab-item" routerLinkActive="active">
    <span class="tab-link">推荐</span>
  </a>
  <a routerLink="/singer" class="tab-item" routerLinkActive="active">
    <span class="tab-link">歌手</span>
  </a>
  <a routerLink="/search" class="tab-item" routerLinkActive="active">
    <span class="tab-link">搜索</span>
  </a>
</div>
