<app-layout>
  <div class="music-list">
    <div class="back-wrapper">
      <app-back (back)="back()">
        <span #title class="title">{{info?.ListName}}</span>
      </app-back>
    </div>
    <div
      class="bg-image"
      #bgImage
    >
      <div class="play-wrapper">
        <div
          #playBtn
          class="play"
          *ngIf="list.length"
          (click)="randomPlay()"
        >
          <i class="icon-play"></i>
          <span class="text">随机播放全部</span>
        </div>
      </div>
      <div class="filter" #filter></div>
    </div>
    <div class="bg-layer" #layer></div>
    <div class="list" #listWrapper>
      <div class="song-list-wrapper">
        <app-scroll-y
          (scrolling)="onScroll($event)"
        >
          <div class="empty-wrapper" *ngIf="!loading && !list.length">
            <app-empty
              title="暂无歌曲~"
            ></app-empty>
          </div>
          <app-pure-music-list
            [list]="list"
            [rank]="rank"
            (clicked)="onClick($event)"
          ></app-pure-music-list>
        </app-scroll-y>
      </div>
    </div>
  </div>
  <div class="loading-wrapper" *ngIf="loading" slot="extra">
    <app-loading
      title="loading..."
    ></app-loading>
  </div>
</app-layout>
