<app-layout>
  <app-header slot="header"></app-header>
  <app-scroll-y
    [onPullingDown]="onPullingDown"
    [data]="stores.ranks"
  >
    <app-slider [autoplay]="true" [data]="stores.banners">
      <div *ngFor="let v of stores.banners">
        <img width="100%" [src]="v.picUrl" alt="banner">
      </div>
    </app-slider>
    <div class="rank">
      <h1 class="list-title">热门榜单</h1>
      <div class="toplist">
        <div *ngIf="!stores.ranks.size">
          <div class="item loading" *ngFor="let item of 4 | list">
            <div class="icon">
              <div class="icon-sub">
                <div class=sub></div>
              </div>
            </div>
            <div class="songlist">
              <div class="song" *ngFor="let val of 3 | list"></div>
            </div>
          </div>
        </div>
        <a [routerLink]="item.id" class="item" *ngFor="let item of stores.ranks">
          <div class="icon">
              <img [appLazy]="item.picUrl" [alt]="item.topTitle" width="100" height="100" />
          </div>
          <div class="songlist">
            <div class="song" *ngFor="let val of item.songList">{{val.songname}} - {{val.singername}}</div>
          </div>
        </a>
      </div>
    </div>
  </app-scroll-y>
  <app-router-animation type="slide" [outlet]="outlet" slot="extra">
    <router-outlet #outlet="outlet"></router-outlet>
  </app-router-animation>
</app-layout>
