@import "../../common/style/variable";
@import "../../common/style/mixin";

.rank {
  .list-title {
    text-align: center;
    font-size: $font-size-medium;
    color: $color-theme;
    margin: 15px 0;
  }
}
