<app-layout>
  <app-scroll-y>
    <div class="rank">
      <h1 class="list-title">热门榜单</h1>
      <div class="toplist">
        <div *ngIf="!ranks.size">
          <div class="item loading" *ngFor="let item of listProducer(4)">
            <div class="icon">
              <div class="icon-sub">
                <div class=sub></div>
              </div>
            </div>
            <div class="songlist">
              <div class="song" *ngFor="let val of listProducer(3)"></div>
            </div>
          </div>
        </div>
        <div class="item" *ngFor="let item of ranks">
          <div class="icon">
              <img [src]="item.picUrl" [alt]="item.topTitle" width="100" height="100">
          </div>
          <div class="songlist">
            <div class="song" *ngFor="let val of item.songList">{{val.songname}} - {{val.singername}}</div>
          </div>
        </div>
      </div>
    </div>
  </app-scroll-y>
</app-layout>
