<app-layout>
  <app-header slot="header"></app-header>
  <app-scroll-y
    [pullingDownEnable]="true"
    (pullingDown)="onPullingDown()"
    [data]="stores.ranks"
  >
    <app-slider [autoplay]="true" [data]="stores.banners">
      <div *ngFor="let v of stores.banners">
        <img width="100%" [src]="v.picUrl" alt="banner">
      </div>
    </app-slider>
    <div class="rank">
      <h1 class="list-title">热门榜单</h1>
      <app-cover-list
        [list]="stores.ranks"
        [img]="img"
        [loading]="loading"
        [song]="song"
        (clicked)="goDetail($event)"
      ></app-cover-list>
    </div>
  </app-scroll-y>
  <app-router-animation type="slide" [outlet]="outlet" slot="extra">
    <router-outlet #outlet="outlet"></router-outlet>
  </app-router-animation>
</app-layout>
<ng-template
  #img
  let-picUrl="picUrl"
  let-topTitle="topTitle"
>
  <img [appLazy]="picUrl" [alt]="topTitle" width="100%" />
</ng-template>
<ng-template
  #song
  let-songname="songname"
  let-singername="singername"
>
  {{songname}} - {{singername}}
</ng-template>
