@import "../../common/style/variable";
@import "../../common/style/mixin";

.default-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .default-content{
    flex: 1;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
