@import "src/app/common/style/variable";
@import "src/app/common/style/mixin";
.item {
  display: flex;
  margin: 0 20px;
  padding-bottom: 20px;
  height: 120px;
  &:last-child {
    padding-bottom: 20px
  }
  .icon {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
  }
  .songlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    height: 100px;
    overflow: hidden;
    background: $color-highlight-background;
    color: $color-text-d;
    font-size: $font-size-small;
    .song {
      @include no-wrap;
      line-height: 26px;
    }
  }
  &.loading{
    .icon-sub{
      height: 100%;
      width: 100%;
      background: #333333;
      padding: 10px 10px;
      .sub{
        height: 100%;
        width: 100%;
        background: #222222;
      }
    }
    .song{
      background: #222222;
      height: 16px;
      margin: 5px 0;
    }
  }
}
