@import "src/app/common/style/variable";

.search-box{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 6px;
  height: 40px;
  background: $color-highlight-background;
  border-radius: 6px;
  .icon-search{
    font-size: 24px;
    color: $color-background;
  }
  .form{
    flex: 1;
  }
  .box{
    padding: 0 5px;
    background: $color-highlight-background;
    color: $color-text;
    font-size: $font-size-medium;
    width: 100%;
    outline: none;
    &::placeholder{
      color: $color-text-d;
    }
  }
  .icon-dismiss{
    font-size: 16px;
    color: $color-background;
  }
}
