@import "~src/app/common/style/variable";
.scroll-y-wrapper{
  height: 100%;
  position: relative;
  .scroll-y{
    height: 100%;
  }
  .loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .success{
      color: $color-text-d;
      font-size: $font-size-small;
    }
  }
}
