<div class="scroll-y-wrapper">
  <div
    class="loading-wrapper"
    *ngIf="isPullingDown || pullingDownSuccess"
  >
    <app-loading *ngIf="isPullingDown"></app-loading>
    <span *ngIf="pullingDownSuccess" class="success">刷新成功</span>
  </div>
  <div
    class="bubble-wrapper"
    [ngStyle]="bubbleWrapperStyle"
  >
    <app-bubble
      *ngIf="showBubble"
      [y]="bubbleY"
    ></app-bubble>
  </div>
  <div #wrapperDom class="scroll-y">
    <div>
      <ng-content></ng-content>
      <app-loading *ngIf="isPullingUp"></app-loading>
    </div>
  </div>
</div>
