<div class="scroll-y-wrapper">
  <div
    class="loading-wrapper"
    *ngIf="isPullingDown || pullingDownSuccess"
  >
    <div class="txt-center">
      <app-loading *ngIf="isPullingDown" @fadeAnimation></app-loading>
    </div>
    <div class="txt-center">
      <span *ngIf="pullingDownSuccess" class="success" @fadeAnimation>刷新成功</span>
    </div>
  </div>
  <div
    class="bubble-wrapper"
    [ngStyle]="bubbleWrapperStyle"
  >
    <app-bubble
      *ngIf="showBubble"
      [y]="bubbleY"
      @fadeAnimation
    ></app-bubble>
  </div>
  <div #wrapperDom class="scroll-y">
    <div>
      <ng-content></ng-content>
      <app-loading *ngIf="isPullingUp"></app-loading>
    </div>
  </div>
</div>
