<div class="song-list">
  <ul>
    <li
      class="item"
      *ngFor="let item of list;index as key"
      @delAnimation
    >
      <div class="rank" *ngIf="rank">
        <span [ngClass]="getRankCls(key)">{{getRankText(key)}}</span>
      </div>
      <div class="content">
        <h2 class="name">
          <img
            src="assets/images/vip.png"
            alt="vip"
            width="20"
            style="margin-right: 5px;"
            *ngIf="item.vip"
          />
          {{item.name}}</h2>
        <p class="desc">{{item.singer}}·{{item.album}}</p>
      </div>
      <div
        class="delete"
        *ngIf="del"
        (click)="delItem(key)"
      >
        <i class="icon-delete"></i>
      </div>
    </li>
  </ul>
</div>
