<app-layout>
  <div class="user-center-header" slot="header">
    <div class="back" (click)="back()">
      <i class="icon-back"></i>
    </div>
    <div class="user-info">
      <div class="avatar" *ngIf="stores.userInfo.get('status') === 1">
        <img [src]="stores.userInfo.get('avatar')" alt="avatar" *ngIf="stores.userInfo.get('avatar')">
      </div>
      <span class="nickname" (click)="onClickUsername()">{{stores.userInfo.get('status') === 1 ? stores.userInfo.get('nickname') : '未登陆'}}</span>
    </div>
    <div class="switches-wrapper">
      <app-switch
        [items]="['我喜欢的', '最近听的']"
        [active]="currentTab"
        (activeChange)="onTabChange($event)"
      ></app-switch>
    </div>
    <div
      *ngIf="(currentTab === 0 && stores.favorite.size) || (currentTab === 1 && stores.recent.size)"
    >
      <div
        class="play-btn"
        (click)="randomPlay()"
      >
        <i class="icon-play"></i>
        <span class="text">随机播放全部</span>
      </div>
      <div class="clear" (click)="clear()" *ngIf="stores.userInfo.get('status') !== 1 || currentTab !== 0">
        <span><i class="icon-clear"></i>&nbsp;清空</span>
      </div>
    </div>
  </div>
  <div class="user-center">
    <div class="list-wrapper">
      <app-scroll-y>
        <div class="list-inner">
          <app-pure-music-list
            [list]="stores.favorite"
            [del]="true"
            *ngIf="currentTab === 0"
            (clicked)="onClick($event)"
            (remove)="onDel($event)"
          ></app-pure-music-list>
          <app-pure-music-list
            [list]="stores.recent"
            [del]="true"
            *ngIf="currentTab === 1"
            (clicked)="onClick($event)"
            (remove)="onDel($event)"
          ></app-pure-music-list>
        </div>
      </app-scroll-y>
    </div>
    <div class="no-result-wrapper">
      <app-empty
        *ngIf="(currentTab === 0 && !stores.favorite.size) || (currentTab === 1 && !stores.recent.size)"
      ></app-empty>
    </div>
  </div>
  <app-router-animation slot="extra" [outlet]="outlet" type="slide">
    <router-outlet #outlet="outlet"></router-outlet>
  </app-router-animation>
</app-layout>
