<div
  class="add-song"
  @addSongAnimation
  *ngIf="show"
>
  <div class="header">
    <div class="title">添加歌曲到列表</div>
    <div
      class="close"
      (click)="closed.emit()"
    >
      <i class="icon-close"></i>
    </div>
  </div>
  <div class="search-box-wrapper">

  </div>
  <div class="shortcut">
    <app-switch
      [items]="items"
      [(active)]="current"
    ></app-switch>
    <div class="shortcut-list-wrapper" *ngIf="current === 0">
      <app-scroll-y *ngIf="stores.recent.size">
        <div class="shortcut-list-inner">
          <app-pure-music-list
            [list]="stores.recent"
            del
          ></app-pure-music-list>
        </div>
      </app-scroll-y>
      <div class="add-songs-empty-wrapper" *ngIf="!stores.recent.size">
        <app-empty></app-empty>
      </div>
    </div>
  </div>
</div>
